body {
    padding: 0;
    margin: 0;
}

#sun {
    display: flex;
    justify-content: center;
}
#mercury, #earth, #jupiter, #uranus {
    display: flex;
    justify-content: left;
}
#venus, #mars, #saturn, #neptune {
    display: flex;
    justify-content: right;
}

.planet-info {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
}

.planet-message {
    max-width: 100%;
}

.planet-info img {
    max-width: 100%;
    height: auto;
}

.hidden {
    display: none;
}
